@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --dark-blue: #13183F;
    --white: #fff;
    --text-light: #83869A;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-blue);
}

h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark-blue);
}

p {
    color: var(--text-light);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.188rem;
}

.title-light {
    color: var(--white);
}

.title-dark {
    color: var(--dark-blue);
}

.container {
    padding: 1rem;
}

.container h1 {
    margin-top: 2.375rem;
    margin-bottom: 1.625rem;
}

.container p {
    margin-top: 1.625rem;
    margin-bottom: 1.5rem;
}

.btn {
    border: none;
    color: var(--white);
    border-radius: 1.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    background-color: #13183F;
    padding: 0.625rem 1.5rem;
    line-height: 28px;
    height: 3rem;
}

.btn-secondary {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    line-height: 26px;
    padding: 1rem 2rem;
    height: 3.5rem;
}

.btn-tertiary {
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 1.75rem;
    padding: 0.625rem 1.5rem;
    height: 3rem;
}

.btn-reversed {
    color: #F74780;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    background-color: transparent;
}

.courses-header {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 0.625rem;
    color: var(--white);
    padding: 1.5rem 1.875rem 2rem 1.875rem;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
}

.cards {
    display: grid;
    row-gap: 2.5rem;
    margin-top: 2.5rem;
}

.card {
    box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    background-color: var(--white);
    padding: 3.5rem 1.75rem 2rem 1.75rem;
    position: relative;
}

.card img {
    position: absolute;
    top: -1.75rem;
    left: 1.75rem;
}

.hero {
    margin-top: 2.875rem;
    margin-bottom: 4.125rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero p {
    margin-top: 1rem;
    margin-right: 1.5rem;
}

footer {
    margin-top: 5rem;
    height: 7.5rem;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}